/*=====background=====*/

div.container {
    background-image: url('../img/bgi.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1030px;
}


/*====templates====*/

.bgc-black {
    background-color: black;
}

.bgc-blue {
    background-color: blue;
}

.bgc-lightblue {
    background-color: #47a1d5;
}

.fonts {
    font-family: 'Tahoma Regular';
    color: white;
}


/*=====registration block=====*/

div.regblock {
    position: absolute;
    margin: 0 auto;
    top: 215px;
    opacity: 0.7;
    width: 558px;
    height: 610px;
}

h3.codastre {
    text-align: center;
    font-size: 24px;
}

div.line {
    height: 1px;
    background-color: white;
    position: relative;
    top: 23px;
}

.fb {
    background-color: #3B5998;
    display: block;
    margin: 0 auto;
    margin-top: 55px;
    /*padding-left: 10px;*/
    /*padding-top: 5px;*/
    border: none;
    height: 35px;
    width: 280px;
    font-family: 'tahoma';
    border-radius: 5px;
    text-decoration: none;
    background: rgba(81,176,220,1);
    background: -moz-linear-gradient(top, rgba(61, 87, 146,1) 0%, rgba(51, 65, 100,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(61, 87, 146,1)), color-stop(100%, rgba(46,121,196,1)));
    background: -webkit-linear-gradient(top, rgba(61, 87, 146,1) 0%, rgba(51, 65, 100,1) 100%);
    background: -o-linear-gradient(top, rgba(61, 87, 146,1) 0%, rgba(51, 65, 100,1) 100%);
    background: -ms-linear-gradient(top, rgba(61, 87, 146,1) 0%, rgba(51, 65, 100,1) 100%);
    background: linear-gradient(to bottom, rgba(61, 87, 146,1) 0%, rgba(51, 65, 100,1) 100%);
}

.wrap {
    position: relative;
    margin: 0 auto;
    width: 560px;
    height: 610px;
}

.wrapf {
    top: 215px;
    position: absolute;
    margin: 0 auto;
    padding-top: 20px;
    width: 560px;
    height: 610px;
}

.f {
    border-right: 2px solid #203c6e;
    display: inline-block;    
    text-align: center;
    color: white;
    font-size: 25px;
    width: 35px;
    height: 100%;

}
.f i {
    margin-top: 5px;
}

span.bold {
    font-weight: 700;
}


.log {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    font-size: 16px;
    color: white;
    padding-top: 3px;
    text-align: center;
    bottom: 3px;
    
}
.fa-angle-right {
    display: inline-block;
    margin-left: 15px;
}

div.cowerline {
    width: 280px;
    margin: 0 auto;
    padding: 32px;
}

div.line1,
div.line2 {
    background-color: grey;
    height: 1px;
    width: 120px;
    display: inline-block;
}

span.ou {
    top: 5px;
    position: relative;
    display: inline-block;
    font-family: 'Tahoma';
    font-size: 14px;
    color: grey;
    text-align: center;
}


/*=====MAIN FORMS======*/

form.mailto {
    width: 275px;
    margin: 0 auto;
}

input.inputs {
    width: 275px;
    height: 35px;
    background-color: black;
    color: white;
    font-size: 14px;
    font-family: 'Tahoma';
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid grey;
    margin-bottom: 15px;
    border-radius: 2px;
    padding-left: 19px;
}

input.inputs:focus {
    width: 275px;
    height: 35px;
    background-color: #1b5288;
    box-shadow: 0 0 10px 10px #1b5288;
    color: white;
    font-size: 14px;
    font-family: 'Tahoma';
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid grey;
    margin-bottom: 15px;
}

.check {
    margin-top: 10px;
}

span.chfont {
    font-size: 14px;
    color: white;
    font-family: "Tahoma";
    font-stretch: ultra-condensed;
}

input.submit {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 150px;
    height: 35px;
    border-radius: 5px;
    font-size: 14px;
    border-style: 2px solid #0469a3;
    background: linear-gradient(#0ca4fc, #0469a3);
    background-color: #7ecefc;
    border: none;
}

p.pform {
    margin-top: 10px;
    text-align: center;
    color: white;
    font-size: 11px;
}


/*=====HEADER=====*/

header.header {
    height: 35px;  
    background: rgba(81,176,220,1);
 background: -moz-linear-gradient(top, rgba(61, 87, 146,1) 0%, rgba(51, 65, 100,1) 100%);
 background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(61, 87, 146,1)), color-stop(100%, rgba(46,121,196,1)));
 background: -webkit-linear-gradient(top, rgba(61, 87, 146,1) 0%, rgba(51, 65, 100,1) 100%);
 background: -o-linear-gradient(top, rgba(61, 87, 146,1) 0%, rgba(51, 65, 100,1) 100%);
 background: -ms-linear-gradient(top, rgba(61, 87, 146,1) 0%, rgba(51, 65, 100,1) 100%);
 background: linear-gradient(to bottom, rgba(61, 87, 146,1) 0%, rgba(51, 65, 100,1) 100%);
    
}

ul {
    text-decoration: none;
    display: inline-block;
    float: right;
}
li {
    display: inline-block;  
    line-height: 35px;  
    padding-right: 25px;
}
.menua {
    text-decoration: none;
    color: #60b5ed;    
}
.menua1{
    text-decoration: none;
    color: white;
}
.rightmenu {
    padding-right: 20px;
    padding-left: 10px;
    color: white;

}
.leftmenu {
   border-right: 1px solid #4eabda;
   padding-right: 10px;

}
.menua:hover,
.menua1:hover {
    display: inline-block;
    background-color: #4eabda;
    color: white;
    height: 100%;
    padding-right: 10px;
    padding-left: 10px;
}
.underline {
    text-decoration: underline;
     
}