

/*=====background=====*/

div.container {	
	background-image: url('../img/bgi.png');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;	
	width: 100%;
	height: 1030px;
}

/*====templates====*/

.bgc-black { background-color: black; }
.bgc-blue  { background-color: blue; }
.bgc-lightblue { background-color: #47a1d5;}
.fonts { font-family: 'Tahoma Regular'; color: white;}

/*=====registration block=====*/

div.regblock {
	position: absolute;	
	margin: 0 auto;
	top: 215px;
	opacity: 0.7;
	width: 558px;
	height: 610px;
}

h3.codastre {
	text-align: center;	
	font-size: 24px;
}
div.line {
	height: 1px;
	background-color: white;
	position: relative;
	top: 23px;
}
button.fb {
	background-color: #3B5998;
	display: block;
	margin: 0 auto;
	margin-top: 55px;
	border: none;
	height: 32px;
	width: 270px;
}
.wrap {
	position: relative;
	margin: 0 auto;
	width: 560px;
	height: 610px;
}
.wrapf {
	top: 215px;
	position: absolute;
	margin: 0 auto;	
	padding-top: 20px;
	width: 560px;
	height: 610px;
}
.f {
	display: inline-block;
	float: left;
	color: white;
	font-size: 25px;
	width: 25px;
	border-right: 2px solid #203c6e;
}
.log {
	display: inline-block;
	font-size: 18px;
	color: white;
	padding-top: 3px; 
	text-align: center;
}
div.cowerline {
	width: 280px;
	margin: 0 auto;	
	padding: 32px;
}
div.line1,
div.line2 {
	background-color: grey;
	height: 1px;
	width: 120px;
	display: inline-block;	
}
span.ou {
	top: 5px;
	position: relative;
	display: inline-block;	
	font-family: 'Tahoma';
	font-size: 14px;
	color: grey;
	text-align: center;
}

/*=====MAIN FORMS======*/

form.mailto {
	width: 275px;
	margin: 0 auto;
}
input.inputs {
	width: 275px;
	height: 35px;
	background-color: black;
	color: white;
	font-size: 14px;
	font-family: 'Tahoma';
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid grey;
	margin-bottom: 15px;
	border-radius: 2px;
	padding-left: 19px;

}
input.inputs:focus{
	width: 275px;
	height: 35px;
	background-color: #1b5288;
	box-shadow: 0 0 10px 10px #1b5288;
	color: white;	
	font-size: 14px;
	font-family: 'Tahoma';
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid grey;
	margin-bottom: 15px;

}
.check {
	margin-top: 20px;
}
span.chfont {
	font-size: 14px;
	color: white;
	font-family: "Tahoma";
	font-stretch: ultra-condensed;
}
input.submit {	
	display: block;
	margin: 0 auto;
	margin-top: 20px; 
	width: 150px;
	height: 35px;	
	border-radius: 5px;
	font-size: 14px;	
	border-style: 2px solid #0469a3;
	background: linear-gradient(#0ca4fc, #0469a3);
	background-color: #7ecefc;
	border: none;    
}
p.pform {
	margin-top: 20px;
	text-align: center;
	color: white;
	font-size: 11px;
}

/*=====HEADER=====*/

header.header {
	height: 36px;
}
ul.menu li {
	text-decoration: none;
	display: inline-block;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;
	height: 100%;
	text-align: center;
	float: right;
}
a {
	text-decoration: none;
	text-align: center;
	color: #4091cd;
	height: 100%;	
} 
a > :hover {
	color: white;
	background-color: #4eabda;	
}
p.pmenu:hover {
	color: white;
}

ul.menu li:hover {
	background-color: #4eabda;	
	height: 100%;
	padding-bottom: 10px;
	color: white;
}
p.pmenu {	
	margin-top: 10px;
	font-family: 'tahoma';
	text-align: center;
	color: #4ea1da;
	font-size: 14px;
}
ul.menu2 li {
	display: inline-block;
	float: right;
	text-align: center;
	text-decoration: none;
	padding-bottom: 5px;
	height: 100%;
	padding-right: 10px;
}
ul.menu2 li:hover {
	background-color: #4eabda;	
	height: 100%;
	padding-bottom: 10px;
	color: white;
}
div.menuline {
	float: right;
	width: 1px;
	height: 100%;
	background-color: white;
	z-index: 9999;
	height: 100%;
}
ul.menu2 li:nth-child(3) {
	padding-top: 10px;
}